<!DOCTYPE html>
<html ng-app='redpsiApp'>
  <head>
    <!-- libraries -->
    <script src="//code.jquery.com/jquery-1.11.0.js"></script>
    <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-resource.js'></script>

    <!-- app -->
    <script src='../services/dbService.js'></script>
    <script src='../controllers/mainController.js'></script>
    <script src='../publicApp.js'></script>
    <title>
      A Small Hello !! redpsi will rule the world! :)
    </title>
  </head>
  <body ng-controller='mainController'>
    <H1>Hi Everyone!</H1>

    <div ng-repeat="psy in psys">
      <p>{{psy | json}}</p>
    </div>
    
    <P>This is very minimal "hello world" html document.</P> 
    <p>
      The current time is {{currentTime | date:'h:mm:ss a'}}.
    <p>
  </body>
</html>
